@media (max-width: 900px) { 
    #page-home {
        background-position-x: 70vw; 
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }
    
    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
    #page-search-results .cards {
        align-items: center; 
    }
    #page-search-results .cards img {
        height: 200px;
    }
    #page-create-point .field-group {
        flex-direction: column;
    }
    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}
@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 130px;
    }
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
body
{
  margin: 100px;
  padding: 0; 
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(77, 96, 116);
}
.nome{
    position: absolute;
    top: 0;
    left: 690px;
}
.card
{
    position: absolute;
    top: 300px;
    left: 375px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card:hover .front
{
    transform: rotateX(-180deg); 
}
.card .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card:hover .back
{
    transform: rotate(0deg);
}
.card .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.social-icons
{
    padding: 10px 0;
}
.social-icons a 
{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}
.social-icons a .fa
{
    line-height: 36px;
}
.social-icons a:hover 
{
    background: #e91e63;
}
.card2
{
    position: absolute;
    top: 370px;
    left: 950px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card2 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card2:hover .front
{
    transform: rotateX(-180deg); 
}
.card2 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card2 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card2:hover .back
{
    transform: rotate(0deg);
}
.card2 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card2 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card2 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card3
{
    position: absolute;
    top: 300px;
    left: 1525px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card3 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card3:hover .front
{
    transform: rotateX(-180deg); 
}
.card3 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card3 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card3:hover .back
{
    transform: rotate(0deg);
}
.card3 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card3 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card3 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card4
{
    position: absolute;
    top: 825px;
    left: 375px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card4 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card4:hover .front
{
    transform: rotateX(-180deg); 
}
.card4 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card4 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card4:hover .back
{
    transform: rotate(0deg);
}
.card4 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card4 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card4 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card5
{
    position: absolute;
    top: 895px;
    left: 950px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card5 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card5:hover .front
{
    transform: rotateX(-180deg); 
}
.card5 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card5 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card5:hover .back
{
    transform: rotate(0deg);
}
.card5 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card5 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card5 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card6
{
    position: absolute;
    top: 825px;
    left: 1525px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card6 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card6:hover .front
{
    transform: rotateX(-180deg); 
}
.card6 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card6 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card6:hover .back
{
    transform: rotate(0deg);
}
.card6 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card6 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card6 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card7
{
    position: absolute;
    top: 1350px;
    left: 375px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card7 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card7:hover .front
{
    transform: rotateX(-180deg); 
}
.card7 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card7 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card7:hover .back
{
    transform: rotate(0deg);
}
.card7 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card7 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card7 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card8
{
    position: absolute;
    top: 1420px;
    left: 950px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card8 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card8:hover .front
{
    transform: rotateX(-180deg); 
}
.card8 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card8 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card8:hover .back
{
    transform: rotate(0deg);
}
.card8 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card8 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card8 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.card9
{
    position: absolute;
    top: 1350px;
    left: 1525px;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0,5s;
}
.card9 .front
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(0deg);
   transition: 0.5s;

}
.card9:hover .front
{
    transform: rotateX(-180deg); 
}
.card9 .back
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   backface-visibility: hidden;
   transform: rotateX(180deg);
   transition: 0.5s;
}
.card9 .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}
.card9:hover .back
{
    transform: rotate(0deg);
}
.card9 .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card9 .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card9 .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
